body {
    background: rgba(0, 0, 0, 0.01);
    font-family: Verdana, sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.5
}

.red-paint, .blue-paint{
    width: 450px;
    height: 300px;
}

.red-paint{
    background-color: red;
    margin: 20px 10px 20px 20px;
}

.blue-paint{
    background-color: blue;
    margin: 20px 10px 20px 20px;
}

.black-paint{
    /* 20 + 0 + 0 + w + 0 + 0 + 20 =960
    40 + w =960
    w = 960 - 49 = 920*/
    width: 920px;
    margin:0px 20px; /* top/bottom right/left */
    height: 50px;
    background-color: black;
}

main, footer{
    background-color: #c0c0c0;
}

/*

    create a "flex-container" that surrounds all the child elements
    you want to be display in a "column" fashion (floating left/right)

    "flex" the red and blue element (div)
    parent is the next level up -> main

    add the rule */

main{
    display: flex;
}

footer{
    margin-bottom: 200px;
}